<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.anzydev.unplugged</string>
	<key>CFBundleName</key>
	<string>Unplugged</string>
	<key>CFBundleDisplayName</key>
	<string>Unplugged</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>Unplugged</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Unplugged needs to send Apple Events to System Events in order to shut down your Mac when external power is disconnected.</string>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2024 Unplugged Contributors. All rights reserved.</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
